@model Text_Editor.Models.UserDetailsModel

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-5">
        <h2 style="margin:15px 0px;margin-top:70px">Login</h2>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Error != null && ViewBag.Error != "")
            {
                <div id="error-div" style="position:relative;width:1100px;height:50px;text-align:center; margin:0 auto;">
                    <button style="position:absolute;top:0; right:0;" type="button" class="btn-close"
                            onclick="getElementById('error-div').remove();">
                    </button>
                    <h5 class="alert-danger">Username or Password Incorrect :(</h5>
                </div>
            }
            <div class="form-group">
                <label class="control-label">Email Id</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <a asp-area="" asp-controller="Auth" asp-action="ResetPw">Forget Password ?</a>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>

    </div>
    <div class="col-md-6">
        @*<img src="/images/Login-amico.png" class="img-fluid" alt="Image related to the application" width="400px" height="400px" style="margin-left:140px; margin-top:20px" />*@
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
