@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="overflow-x:hidden;" >
    <h1 class="display-5">Welcome to Library Management System</h1>
    <div style="position:relative">
        <img src="/images/lms_homepage.jpg" alt="image" width="1200" height="400" style="margin-top:20px" />
        <a href="/book/IndexBook" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px 20px; background-color: #ffe0b3; color: black; font-size: 24px; text-decoration: none; border-radius: 10px;">Explore Books</a>
    </div>
</div>
<br />
