@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Text_Editor.Models.DocumentsModel
@{
}

<div class="row">
    <div class="col-xl-11"></div>
    <div class="col-xl-2">
        <form asp-action="DownloadFile">
            <input type="hidden" value="@Model.doc_title" name="doc_title" />
            <input type="hidden" value="@Model.doc_content" name="doc_content"/>
            <button class="btn-primary" style="margin-left:980px">Download</button>
        </form>
    </div>

</div>
<div class="row" style="margin-top:10px">
    <form asp-action="Edit">
        <input asp-for="doc_title" style="width:1100px" type=" text" name="doc_title" placeholder="Your Document title goes here..." value="@Model.doc_title"></input>
        <textarea asp-for="doc_content" style="width:1100px;height:380px" name="doc_content" value="@Model.doc_content">

        </textarea>
        <button class="btn-success" style="margin-left:950px">Save Changes</button>

    </form>

</div>
